html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  min-height: 100%;
}

.mantine-AppShell-root {
  height: 100%;
}

.mantine-AppShell-body {
  height: 90%;
}
